@use './global/styling.scss' as *;

#root {
  width: 100%;
  min-height: 100%;
}

.page-padding{
  width: 100%;
  padding: 0 1.5rem 0;

  @media (min-width: 768px) {
    padding: 0 2rem 0;
  }

  @media (min-width: 1280px){
    padding: 0 5% 0;
  }
}

.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  &-list{
    display: none;
    
    @include tablet{
      display: flex;
      column-gap: 1rem;
      align-items: center;
    }
  }
}

.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: max(2rem, 5%);
  padding-bottom: max(2rem, 5%);

  &-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 2rem;

    &_portrait{
      width: 20%;
      border-radius: 100%;
      max-width: 4.5rem;
    }

    &-text{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-width: 15rem;
    }
  }
}

.skills{
  padding-top: max(2rem, 7%);
  padding-bottom: max(2rem, 7%);
  flex-direction: column;
  display: flex;
  gap: 1rem;  

  &-list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: max(4%, 1rem);

    &_item{
      width: 22%;
      text-align: center;
    }
  }
}

.projects{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &_header{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &-cards{
    display:flex;
    justify-content: stretch;
    padding: 1rem 0.5rem 1rem;
    gap: 1rem;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;

  &_text{
    width: 90%;
  }

  &-links{

    margin-top: 2rem;
    margin-right: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: max(1rem, 6%);

    &_a{
      max-width: 10%;
      width: 2rem;
    }

    &_icon{
      width: 100%;
    }
  }
}

footer{
  height: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}